<!DOCTYPE html>
<!-- Khai báo thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <h2 class="login-title">Đăng nhập</h2>
            <!-- Cú pháp ${} là cú pháp thymeleaf để hiển thị giá trị của biến -->
            <div th:if="${error}" class="error-message" th:text="${error}"></div>
            <div th:if="${message}" class="message" th:text="${message}"></div>
            <form th:action="@{/login}" method="post">
                <div class="form-group">
                    <label>Email:</label>
                    <input type="text" name="email"/>
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    <input type="password" name="password"/>
                </div>
                <div class="form-group remember-me-group">
                    <label class="remember-me-label">
                        <input type="checkbox" name="remember-me" value="true" class="remember-me-checkbox"/>
                        <span>Ghi nhớ đăng nhập</span>
                    </label>
                </div>
                <div>
                    <button type="submit" class="login-button">Đăng nhập</button>
                </div>
            </form>
            <div class="back-link">
                <p><a th:href="@{/register}">Đăng ký</a></p>
            </div>
        </div>
    </div>
</body>
</html>
